body{background-color: aqua;
color:green;
font-size: 40px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-seri;
justify-content: center;
justify-items: center;
text-align: center;

text-align: center;
}
